.collection-item{
    width: 100%;
    box-shadow: rgba(0,0, 0, 0.10) 0px 10px 50px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;

    img{
        height: 340px;
        width: 100%;
        object-fit: cover;
    }

    .collection-item-content{
        padding: 15px;
        display: flex;
        justify-content: space-between;

        p{
            margin: 0;
        }
        .name{
            color: #000;
            font-weight: 500;
        }
        .price{
            color: #333;
        }
    }
}